---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/public/money.svg" />
		<link rel="icon" href="/public/money.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Control de Finanzas</title>
	</head>
	<body>
		<h1>Control de Finanzas</h1>
	</body>
</html>
